scikit-learn
pandas
seaborn
pillow
graphviz
matplotlib
spyder
pytest
cython
gensim
xlwt
openpyxl
pydot
dask
xgboost
tables
netcdf4
imbalanced-learn
lmdb
mysql-connector
lxml
openpyxl
xlrd
umap-learn
dask-jobqueue
sox
pyhdf
odfpy
geopandas
rasterio
transformers
